@charset "utf-8";
/* 你自己的样式 */
[v-cloak] {
    display: none;
}


#pagination {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* 
#pagination > nav {

}

#pagination ul {
    display: flex;
    margin: 5px;
    padding: 4px;
    justify-content: center;

}

#pagination ul > :first-child {

}

#pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0;

    text-align: center;
    background-color: cornflowerblue;

    border-radius: 10%;
}

#pagination ul li a, #pagination ul li span{
    color: snow;
    font-weight: bold;
    border: 1px solid #ddd;


    padding: 0;
    margin: 0;
    width: 40px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-decoration: none;
}

#pagination ul li.active {
    background-color: coral;
}
 */
